{
    "openapi": "3.0.1",
    "info": {
        "title": "Dynamic Docs API",
        "description": "OpenAPI documentation for Dynamic Docs API.",
        "version": "v1",
        "x-last-updated": "2026-04-09"
    },
    "servers": [
        {
            "url": "https://api.ondemandquorum.com/documents/v1"
        }
    ],
    "paths": {
        "/document-batches": {
            "post": {
                "tags": [
                    "Document Batches"
                ],
                "summary": "Create document batch",
                "description": " This endpoint streamlines metadata creation for multiple documents.\n Documents are stored at primaryLocation, secondaryLocation, and tertiaryLocation,\n associated with the provided documentType. If no documentType is specified,\n the system assigns the Unclassified DocumentType to the document.\n In instances where the specified location names are absent in Dynamic Docs,\n they are automatically generated, and the document is stored in these newly established locations.\n The endpoint returns a new DocumentBatchId, corresponding to a list of fileUploadIds,\n which can be utilized to initiate a file upload request.\n\n The Request Metadata includes The Location hierachy and it's own attributes and a list\n of documents that includes DocumentName with extension, the DocumentType and a list of DocumentAttributes\n\n ```json\n {\n   \"primaryLocation\": {\n     \"name\": \"Example Name\",\n     \"attributes\": [\n       {\n         \"name\": \"Example Location Attribute\",\n         \"value\": \"Example Attribute Value\"\n       }\n     ]\n   },\n   \"secondaryLocation\": {\n     \"name\": \"Example Name\",\n     \"attributes\": [\n       {\n         \"name\": \"Example Location Attribute\",\n         \"value\": \"Example Attribute Value\"\n       }\n     ]\n   },\n   \"tertiaryLocation\": {\n     \"name\": \"Example Name\",\n     \"attributes\": [\n       {\n         \"name\": \"Example Location Attribute\",\n         \"value\": \"Example Attribute Value\"\n       }\n     ]\n   },\n   \"documents\": [\n    {\n      \"name\": \"Name.pdf\",\n      \"documentType\": \"Example Document Type\",\n      \"attributes\": [\n        {\n          \"type\": \"Alphanumeric\",\n          \"name\": \"Example Attribute Name\",\n          \"value\": \"Example Attribute Value\",\n         \"length\": 50\n        }\n      ]\n    }\n   ]\n }\n```",
                "operationId": "post-document-batches",
                "parameters": [
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentBatchesUploadRequest"
                            },
                            "example": {
                                "primaryLocation": {
                                    "name": "Example Name",
                                    "attributes": [
                                        {
                                            "name": "Example Entity Attribute",
                                            "value": "Example Attribute Value"
                                        }
                                    ]
                                },
                                "secondaryLocation": {
                                    "name": "Example Name",
                                    "attributes": [
                                        {
                                            "name": "Example Entity Attribute",
                                            "value": "Example Attribute Value"
                                        }
                                    ]
                                },
                                "tertiaryLocation": {
                                    "name": "Example Name",
                                    "attributes": [
                                        {
                                            "name": "Example Entity Attribute",
                                            "value": "Example Attribute Value"
                                        }
                                    ]
                                },
                                "documents": [
                                    {
                                        "name": "Name.pdf",
                                        "documentType": "Example Document Type",
                                        "attributes": [
                                            {
                                                "type": "AlphaNumeric",
                                                "name": "Example Attribute Name",
                                                "value": "Example Attribute Value",
                                                "length": 50
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentBatchesUploadRequest"
                            },
                            "example": {
                                "primaryLocation": {
                                    "name": "Example Name",
                                    "attributes": [
                                        {
                                            "name": "Example Entity Attribute",
                                            "value": "Example Attribute Value"
                                        }
                                    ]
                                },
                                "secondaryLocation": {
                                    "name": "Example Name",
                                    "attributes": [
                                        {
                                            "name": "Example Entity Attribute",
                                            "value": "Example Attribute Value"
                                        }
                                    ]
                                },
                                "tertiaryLocation": {
                                    "name": "Example Name",
                                    "attributes": [
                                        {
                                            "name": "Example Entity Attribute",
                                            "value": "Example Attribute Value"
                                        }
                                    ]
                                },
                                "documents": [
                                    {
                                        "name": "Name.pdf",
                                        "documentType": "Example Document Type",
                                        "attributes": [
                                            {
                                                "type": "AlphaNumeric",
                                                "name": "Example Attribute Name",
                                                "value": "Example Attribute Value",
                                                "length": 50
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentBatchesUploadRequest"
                            },
                            "example": {
                                "primaryLocation": {
                                    "name": "Example Name",
                                    "attributes": [
                                        {
                                            "name": "Example Entity Attribute",
                                            "value": "Example Attribute Value"
                                        }
                                    ]
                                },
                                "secondaryLocation": {
                                    "name": "Example Name",
                                    "attributes": [
                                        {
                                            "name": "Example Entity Attribute",
                                            "value": "Example Attribute Value"
                                        }
                                    ]
                                },
                                "tertiaryLocation": {
                                    "name": "Example Name",
                                    "attributes": [
                                        {
                                            "name": "Example Entity Attribute",
                                            "value": "Example Attribute Value"
                                        }
                                    ]
                                },
                                "documents": [
                                    {
                                        "name": "Name.pdf",
                                        "documentType": "Example Document Type",
                                        "attributes": [
                                            {
                                                "type": "AlphaNumeric",
                                                "name": "Example Attribute Name",
                                                "value": "Example Attribute Value",
                                                "length": 50
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentBatchesUploadResponse"
                                },
                                "example": {
                                    "description": "Example Response Description",
                                    "documentBatchId": 123,
                                    "fileUploads": [
                                        {
                                            "fileUploadId": 123,
                                            "documentId": 123,
                                            "versionId": 123,
                                            "name": "Example Document Name",
                                            "documentType": "Example Document Type",
                                            "uploadUrl": "https://example.com"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/insights/documents": {
            "post": {
                "tags": [
                    "Document Insights"
                ],
                "summary": "Analyze documents",
                "description": "This endpoint sends a document to the Dynamic Docs analyzer.\nThe available Extraction engine is **InvoiceDetails**, which specializes in extracting information from\ninvoice files and storing it in JSON format.\n            \nThe endpoint responds with a **200 status code** upon the initiation\nof the analysis process. Once the analysis is complete, the results can be accessed through the\n`GET /insights/results/`.",
                "operationId": "post-insights-documents",
                "parameters": [
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnalyzeDocumentRequest"
                            },
                            "example": {
                                "documentIds": [
                                    "1",
                                    "2"
                                ],
                                "dataExtractionEngine": "InvoiceDetails"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BaseResponse"
                                },
                                "example": {
                                    "description": "Example Response Description"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/insights/results": {
            "get": {
                "tags": [
                    "Document Insights"
                ],
                "summary": "Get Analysis Results",
                "description": "This endpoint retrieves the results of a document analysis previously generated through the `POST /insights/documents/` endpoint.\nThe **results** field contains the extracted information of the provided document id list, while the other parameters are used to provide\ncontext about the analyzed document.",
                "operationId": "get-insights-results-document_ids-document_ids",
                "parameters": [
                    {
                        "name": "document_ids",
                        "in": "query",
                        "description": "These are the Document IDs of the documents stored in any final location within Dynamic Docs,\nmeaning it is not in the staging location.",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            },
                            "example": [
                                "1",
                                "2"
                            ]
                        },
                        "example": [
                            "1",
                            "2"
                        ]
                    },
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAnalysisResultsResponse"
                                },
                                "example": {
                                    "description": "Example Response Description",
                                    "documents": [
                                        {
                                            "documentId": 1,
                                            "versionId": 1,
                                            "dataExtractionEngine": "InvoiceDetails",
                                            "analysisStatus": "Example Status",
                                            "results": {
                                                "invoice_number": "123",
                                                "...": "..."
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/document-types": {
            "get": {
                "tags": [
                    "Document types"
                ],
                "summary": "Get Document types",
                "description": "This endpoint allows the retrieval of all active document types within the Dynamic Docs system for a specific tenant.",
                "operationId": "get-document-types",
                "parameters": [
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAllDocumentTypesResponse"
                                },
                                "example": {
                                    "description": "Example Response Description",
                                    "documentTypes": [
                                        {
                                            "id": 123456,
                                            "name": "Example Document Type Name",
                                            "createdTime": "2023-03-14T03:00:00.0000000+00:00",
                                            "updatedTime": "string",
                                            "isActive": true,
                                            "description": "Example Description",
                                            "isProjectDefault": true,
                                            "isSystem": true
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Document types"
                ],
                "summary": "Create a New Document Type",
                "description": "This endpoint allows the creation of a new document type within the Dynamic Docs system for a specific tenant.",
                "operationId": "post-document-types",
                "parameters": [
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDocumentTypeRequest"
                            },
                            "example": {
                                "name": "Contract Agreement",
                                "description": "Legal contract agreements and related documents"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDocumentTypeRequest"
                            },
                            "example": {
                                "name": "Contract Agreement",
                                "description": "Legal contract agreements and related documents"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDocumentTypeRequest"
                            },
                            "example": {
                                "name": "Contract Agreement",
                                "description": "Legal contract agreements and related documents"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateDocumentTypeResponse"
                                },
                                "example": {
                                    "description": "Example Response Description",
                                    "documentType": {
                                        "id": 123456,
                                        "name": "Example Document Type Name",
                                        "createdTime": "2023-03-14T03:00:00.0000000+00:00",
                                        "updatedTime": "string",
                                        "isActive": true,
                                        "description": "Example Description",
                                        "isProjectDefault": true,
                                        "isSystem": true
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetails"
                                },
                                "example": {
                                    "type": "string",
                                    "title": "string",
                                    "status": 0,
                                    "detail": "string",
                                    "instance": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/documents": {
            "post": {
                "tags": [
                    "Documents"
                ],
                "summary": "Upload a Document",
                "description": " This endpoint allows the upload of a single document to Dynamic Docs, supporting two workflows:\n\n **Workflow 1:**\n If the **Metadata** parameter contains information, the document will be stored in the specified location\n with the provided document type. If the provided document attributes or location names do not exist in\n Dynamic Docs, they will be automatically created, and the document will be stored in the newly created\n locations. The endpoint will return a **documentId** that specifies the document ID in the final location.\n\n **Metadata** example:\n ```json\n{\n   \"documentType\": \"Example Document Type\",\n   \"documentAttributes\": [\n      {\n         \"type\": \"Alphanumeric\",\n         \"name\": \"Example Attribute Name\",\n         \"value\": \"Example Attribute Value\",\n         \"length\": 50\n      }\n   ],\n   \"primaryLocation\": {\n      \"name\": \"Example Name\",\n      \"attributes\": [\n         {\n            \"name\": \"Example Location Attribute\",\n            \"value\": \"Example Attribute Value\"\n         }\n      ]\n   },\n   \"secondaryLocation\": {\n      \"name\": \"Example Name\",\n      \"attributes\": [\n         {\n            \"name\": \"Example Location Attribute\",\n            \"value\": \"Example Attribute Value\"\n         }\n      ]\n   },\n   \"tertiaryLocation\": {\n      \"name\": \"Example Name\",\n      \"attributes\": [\n         {\n            \"name\": \"Example Location Attribute\",\n            \"value\": \"Example Attribute Value\"\n         }\n      ]\n   }\n}\n```\n **Workflow 2:**\n If the **Metadata** parameter is empty, the document will be uploaded to a **staging location** without\n specific attributes or location assignments. This is particularly useful when the final location of the document has not yet been determined.\n You can use the `PUT /documents/{staged_document_id}/move-from-staging` endpoint later to assign the\n location, document type and attributes. As a result, the endpoint will return a **stagedDocumentId** that specifies the\n document ID inside the staging location.\n\n Please note that **documentId** and **stagedDocumentId** are distinct values.\n\n If the `Microsoft Computer Vision - OCR` module is enabled, the document will undergo automatic Optical Character Recognition (OCR).",
                "operationId": "post-documents",
                "parameters": [
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "File"
                                ],
                                "properties": {
                                    "File": {
                                        "type": "string"
                                    },
                                    "Metadata": {
                                        "$ref": "#/components/schemas/UploadDocumentMetadataDTO"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadSingleDocumentResponse"
                                },
                                "example": {
                                    "description": "Example Response Description",
                                    "documentId": 0,
                                    "versionId": 0,
                                    "stagedDocumentId": 0
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Documents"
                ],
                "summary": "Soft-Delete Multiple Documents by ID",
                "description": "This operation performs the non-permanent removal of one or more documents within Dynamic Docs.\nWhen executed, all soft-deleted documents are moved to the document retention bin and are removed from\ntheir current locations and projects. If one of the documents is stored in a project, it will be automatically\nremoved from the project as well.\n            \nSoft-deleted documents can be restored using the `POST /documents/{id}/restore` endpoint.",
                "operationId": "delete-documents-document_ids-document_ids",
                "parameters": [
                    {
                        "name": "document_ids",
                        "in": "query",
                        "description": "These are the Document IDs of the documents stored in any final location within Dynamic Docs,\nmeaning it is not in the staging location.",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer",
                                "format": "int32"
                            },
                            "example": [
                                "1",
                                "2"
                            ]
                        },
                        "example": [
                            "1",
                            "2"
                        ]
                    },
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "get": {
                "tags": [
                    "Documents:Entities"
                ],
                "summary": "Get Documents by Entities",
                "description": "Retrieve documents associated with a specific entity using its code and type. This feature takes into account any 'soft deleted' documents, omitting them from the results.",
                "operationId": "get-documents-entitycode-entitycode-entitytype-entitytype",
                "parameters": [
                    {
                        "name": "entityCode",
                        "in": "query",
                        "description": "The identifier for an entity in Dynamic Docs.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "1"
                        },
                        "example": 1
                    },
                    {
                        "name": "entityType",
                        "in": "query",
                        "description": "The type of entity in Dynamic Docs.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "Example Entity Type"
                        },
                        "example": "Example Entity Type"
                    },
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/documents/{id}": {
            "get": {
                "tags": [
                    "Documents"
                ],
                "summary": "Get Document by ID",
                "description": "Retrieve a document's attributes, location, type, name, and related projects using its unique ID.",
                "operationId": "get-documents-id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "This is the Document ID of the document stored in the final location within Dynamic Docs,\nmeaning it is not in the staging location.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetDocumentByIdResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Documents"
                ],
                "summary": "Update Document by ID",
                "description": "This endpoint updates document type, attributes, comments, and hashtags, within Dynamic Docs.\nThis operation utilizes HTTP PATCH, enabling partial updates of the document's metadata. Only the provided fields are modified, while all others remain unchanged.",
                "operationId": "patch-documents-id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "This is the Document ID of the document stored in the final location within Dynamic Docs,\nmeaning it is not in the staging location.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDocumentRequest"
                            },
                            "example": {
                                "name": "Name.pdf",
                                "type": "Example Document Type",
                                "hashtags": [
                                    "Example Hashtag 1",
                                    "Example Hashtag 2"
                                ],
                                "attributes": [
                                    {
                                        "type": "AlphaNumeric",
                                        "name": "Example Attribute Name",
                                        "value": "Example Attribute Value",
                                        "length": 50
                                    }
                                ],
                                "comments": [
                                    {
                                        "message": "Example Comment Message",
                                        "createdTime": "2023-03-14T03:00:00.0000000+00:00",
                                        "userId": 1
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadSingleDocumentResponse"
                                },
                                "example": {
                                    "description": "Example Response Description",
                                    "documentId": 0,
                                    "versionId": 0,
                                    "stagedDocumentId": 0
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Documents"
                ],
                "summary": "Soft-Delete Document by ID",
                "description": "This operation allows for the non-permanent removal of a specific document within Dynamic Docs.\nWhen executed, the soft-deleted document is moved to the document retention bin and is removed from\nits current locations and projects. If the document is stored in a project, it will be automatically\nremoved from the project as well.\n            \nThe soft-deleted document can be restored using the `POST /documents/{id}/restore` endpoint.",
                "operationId": "delete-documents-id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "This is the Document ID of the document stored in the final location within Dynamic Docs,\nmeaning it is not in the staging location.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/documents/search": {
            "post": {
                "tags": [
                    "Documents"
                ],
                "summary": "Search Document",
                "description": "Enables document searching within the Dynamic Docs system and returns the documents that match the search criteria.\n            \nIt combines both the **Match** and **Range** criteria.\n            \nThe **Match** functionality empowers the implementation of precise attribute matching, allowing the application of various filtering conditions within a single request to retrieve matching documents.\nIn the specific scenario of **locationAttributes**, documents linked to locations possessing matching attributes will also be included in the results.\n            \nThe **Range** functionality of this endpoint is designed to filter data based on date ranges, which can be both absolute and relative.\nAbsolute dates are specified as \"YYYY-MM-DD\" or \"YYYY-MM-DD HH:mm:ss.00000,\" while relative dates encompass values like \"now,\" \"now-365d\" (365 days before the current date), \"now-55d\" (55 days before the current date), \"now-12M\" (12 months before the current date), and \"now-3M\" (3 months before the current date).\nDate range limits can extend from 0 to 365 days before the current date and 0 to 12 months before the current date.\n            \nFurthermore, the **Range** functionality can be utilized to filter data based on file sizes. Float numbers can be provided for Greater Than or Equal (Gte) and Less Than or Equal (Lte) conditions.\nIf an upper bound is not provided, it will match all file sizes greater than the specified one. If a lower bound is not provided, it will match all file sizes smaller than the specified one.",
                "operationId": "post-documents-search",
                "parameters": [
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Search result page number.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of records on each page.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "allFields",
                        "in": "query",
                        "description": "Defines if the endpoint will return all the metadata or only the id and name of the document.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "sortBy",
                        "in": "query",
                        "description": "Allows custom order of search results based on specific criteria. For multiple values, separate them with commas. Add a '-' before each value for descending order or '+' for ascending order.",
                        "schema": {
                            "type": "string",
                            "example": "+contentId,+departmentName"
                        },
                        "example": "+contentId,+departmentName"
                    },
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SearchDocumentRequest"
                            },
                            "example": {
                                "match": {
                                    "locationAttributes": [
                                        {
                                            "name": "Example Attribute Name",
                                            "value": "Example Attribute Value"
                                        }
                                    ],
                                    "documentAttributes": [
                                        {
                                            "name": "Example Attribute Name",
                                            "value": "Example Attribute Value"
                                        }
                                    ],
                                    "keywords": [
                                        "Example Keyword 1",
                                        "Example Keyword 2"
                                    ],
                                    "comments": [
                                        "Example Comment 1",
                                        "Example Comment 2"
                                    ],
                                    "hashtags": [
                                        "Example Hashtag 1",
                                        "Example Hashtag 2"
                                    ],
                                    "documentType": "Example Document Type Name",
                                    "documentName": "Example Document Name",
                                    "creationDate": "2023-03-14T03:00:00.0000000+00:00",
                                    "lastModificationDate": "2023-03-14T03:00:00.0000000+00:00",
                                    "fileSize": 2.718
                                },
                                "range": {
                                    "creationDate": {
                                        "gte": "now-365d",
                                        "lte": "now"
                                    },
                                    "lastModificationDate": {
                                        "gte": "now-365d",
                                        "lte": "now"
                                    },
                                    "fileSize": {
                                        "gte": 0,
                                        "lte": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchDocumentResponse"
                                },
                                "example": {
                                    "matchingDocuments": [
                                        {
                                            "contentId": 1,
                                            "name": "Example Document Name",
                                            "departmentName": "Example Department Name",
                                            "departmentID": 1,
                                            "cabinetName": "Example Cabinet Name",
                                            "cabinetID": 1,
                                            "folderName": "Example Folder Name",
                                            "folderID": 1,
                                            "templateID": 1,
                                            "documentType": "Example Template Name",
                                            "extension": ".pdf",
                                            "fileSize": 10,
                                            "createdTime": "2023-07-07T08:00:39.0000000+00:00",
                                            "updatedTime": "2023-07-07T08:00:39.0000000+00:00",
                                            "isLocked": "0",
                                            "isActive": "0",
                                            "totalRecords": 10,
                                            "linkedTo": "0",
                                            "linkedFrom": "0",
                                            "documentAttributes": ""
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
                                    "errors": {
                                        "exampleProperty": [
                                            "Error 1 in example property",
                                            "Error 2 in example property"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/documents/{id}/download": {
            "get": {
                "tags": [
                    "Documents"
                ],
                "summary": "Download Document by ID",
                "description": "Retrieves a base64-encoded representation of a document by its unique ID.",
                "operationId": "get-documents-id-download",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "This is the Document ID of the document stored in the final location within Dynamic Docs,\nmeaning it is not in the staging location.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "example": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "quti",
                        "in": "header",
                        "description": "Quorum unique tenant identifier",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "a1"
                        },
                        "example": "a1"
                    },
                    {
                        "name": "email",
                        "in": "header",
                        "description": "Email of the authenticated user within the tenant, responsible for the API call.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "john.doe@foobar.com"
                    },
                    {
                        "name": "end-user-email",
                        "in": "header",
                        "description": "End User Email responsible for the API Call. This value is optional, if is not provided, Authentication User email should be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "John.doe@foobar.com"
                    },
                    {
                        "name": "source",
                        "in": "header",
                        "description": "Represent the source application or client responsible for the API Call",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Test Source"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentDownloadResponse"
                                },
                                "example": {
                                    "description": "Example Response Description",
                                    "documentBase64": "string",
                                    "mimeType": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProblemDetails"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc4918#section-11.2",
                                    "title": "Example Title.",
                                    "status": 400,
                                    "traceId": "0ABCDEFG12345:00000000",
[...]
